# Node modules (React Native)
node_modules/
.expo/
.expo-shared/
.expo-cache/

# iOS / Android build artifacts
android/
ios/
*.iml
.gradle/
build/
*.apk
*.aar
*.keystore
*.xcworkspace/
Pods/
local.properties

# macOS system files
.DS_Store

# Environment & config files
.env
.env.*

# Python virtual environment
venv/

# Pycache
__pycache__/
*.py[cod]

# GCP service account key
.gcs/
.gcs-creds.json

# Temp scraped data
temp_data/

# VSCode settings (optional)
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

google-cloud-sdk/
